html, body {
    margin: 0px;
    padding: 0px;
    color: white;
}

@page {
    size: 1920px 1080px;
    margin: 0;
}

@font-face {
    font-family: FuturaRenner;
    font-weight: regular;
    src: url(/assets/fonts/FuturaRenner-Regular.otf);
}

* {
    font-family: 'FuturaRenner';
    text-transform: lowercase;
    font-size: 100%;
    font-size: 48px;
    line-height: 52px;
}

p, span {
    text-rendering: geometricPrecision;
}

section {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: black;
    overflow: hidden;
    /*outline: 1px dotted white;*/
}

p {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 600px;
}

.hidden {
    color: transparent;
}

.visible {
    color: white;
}

.anchor {
    font-size: 100%;
    /*outline: 1px dotted white;*/
}

p.transition-one {
    transform: scale(1.3, 1.3);
}

p.transition-two {
    transform: scale(1.7, 1.7);
}

.big {
    transform: scale(2, 2);
}

@media screen {
    html, body {
        background-color: black;
    }

    section {
        /*margin-top: 40px;*/
        /*margin-left: 20px;*/
        margin-bottom: 40px;
    }
}
