html, body {
    margin: 0px;
    padding: 0px;
    color: white;
}

@page {
    size: 800px 600px;
    margin: 0;
}

@font-face {
    font-family: FuturaRenner;
    font-weight: regular;
    src: url(../html2print/assets/fonts/FuturaRenner-Regular.otf);
}

* {
    font-family: 'FuturaRenner';
    text-transform: lowercase;
    font-size: 100%
}

p, span {
    text-rendering: geometricPrecision;
}

section {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 800px;
    height: 600px;
    background-color: black;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 280px;
}

.hidden {
    color: transparent;
}

.visible {
    color: white;
}

.anchor {
    font-size: 100%;
}

p.transition-one {
    transform: scale(1.3, 1.3);
}

p.transition-two {
    transform: scale(1.7, 1.7);
}

.big {
    transform: scale(2, 2);
}

@media screen {
    section {
        margin-top: 40px;
        margin-left: 20px;
    }
}